<div class="row">
	<div class="col-md-8">
		<div class="media">
			<br/>
			<% avatar_url = @user.avatar_url(128) %>
			<% if avatar_url %>
				<div class="media-left">
					<%= image_tag avatar_url, class: 'media-object' %>
				</div>
			<% end %>
			<div class="media-body">
				<h2 class="media-heading"><%= @user.name %></h2>
				<medium>
					<%= pluralize(@user.items.count, 'task') %>
				</medium>
			</div>	
		</div>		
	</div>
</div>

<h3>To Do Items</h3>
	<% @items.each do |item| %>
		<%= render partial: 'items/item', locals: { user: @user, item: item } %>
	<% end %>

<h3>Add New To-Do Item</h3>
	<%= render partial: 'items/form', locals: { user: @user, item: Item.new } %>
